
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body{
    font-family: serif;
    font-size: 14px;
}
ul{
    list-style: none;
   
}
a{
    text-decoration: none;
    color: black;
    
}
.container{
    min-height: 100%;
    display: grid;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
/*---------------------header--------------------*/
.header_container{
    background-color: #f5f5f5;
    padding: 15px 40px;
}
.nav_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.nav_container ul{
    display: flex;
}
.nav_container li:hover{
    text-shadow: 1px 1px 2px gray;
}
.left{
    display: grid;
    grid-template-columns: minmax(50px, 120px) minmax(150px,500px);
    align-items: baseline;
}
.left ul {
    margin-left: 3vw;
}
.left li{
    padding-right: 10px;
    font-size: 1vw;
}
.right{
    display: flex;
    justify-content: end;
    align-items: baseline;
}
.right a{
    padding-left: 20px;
    font-size: 1vw;
}
.nav-logo{
    color: #7293aa;
    font-size: 2vw;
}
.right .nav-number{
    color: #7293aa;
    font-size: 2vw;
}


.header-body{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr;
    justify-items: end;
    justify-content: center;
    column-gap: 100px;
    padding: 30px 0;
}
.header-body__image{
    width: 30vw;
}
.header-body__image img{
    max-width: 100%;
}
.info h2{
    color: #009697;
    font-size: 3.3vw;
    font-weight: 300;
}
.info p{
    font-size: 1.5vw;
    margin:20px 0;
}
.info .h2_underline{
    border-bottom: 2px solid #009697;
}
.h2_underline{
    border-bottom: 2px solid black;
}
.info-search{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 1vw;
    height: 5vh;
}
.info-search input{
    border: 2px lightgrey solid;
    border-radius: 5px;
}
.info-search input::placeholder{
    padding-left: 10px;
}
.info-search button{
    border: none;
    background-color: #009697;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
}
.info h4{
    display: inline-block;
    color: #a5823d;
    border-bottom: 1.5px solid #a5823d;
    margin-top: 2vw;
    font-size: 1.2vw;
}
.info-h4_gold:hover{
    color: #c3a05a;
    cursor: pointer;
}
.header-tranding{
    padding: 0 30px;
}
.header-tranding h5{
    color: #e7a729;
}
.tranding-things{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.tranding-thing{
    width: 7vw;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.tranding-thing img{
    max-width: 100%;
    height: 7vw;
    object-fit: contain;
}
.tranding-thing h6{
    margin-top: 10px;
    font-size: 0.8vw;
    font-weight: 500;
}

/*------------------------main info---------------------*/
.main-info{
   padding: 20px 13vw;
}
.main-info_header{
    display: grid;
    justify-items: center;
}
.main-info_header h3{
    font-size: 3vw;
}
.main-info_header p {
    margin-top: 10px;
    width: 40vw;
    font-size: 1.5vw;
}
.main-info_cards{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
}
.main-info_card{
    display: grid;
    justify-items: center;
}
.main-info_card p {
    font-size: 1.5vw;
    margin-top: 5px;
}
.main-info_card h4{
    justify-self: left;
    margin-top: 5px;
}
.card-img{
    width: 25vw;
    display: flex;
}
.card-img p {
    font-size: 1vw;
    align-self: flex-end;
   
}
.card-img img{
    max-width:80%;
}

/*-------------------Main join------------------*/
.main-join{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 40px;
}

.main-join-start{
    display: grid;
    justify-items: end;
}
.start-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 4vw;
}
.start-img-main{
    align-self: center;
    width:22vw;
    grid-row: span 2;
}
.start-img-main img{
    max-width: 100%;
}
.start-img-side{
    width:15vw;
}
.start-img-side img{
    max-width: 100%;
}

.main-started-btn{
    background-color: #a5823d;
    color: white;
    padding: 1vw 6vw;
    margin-top: 2vw;
    border-radius: 3px;
    font-size: 1.5vw;
    border: 2px solid #a5823d;
}
.main-started-btn:hover{
   opacity: 0.6;
}

.main-join-now{
    width: 38vw;
}
.main-join-now h3{
    color: #a5823d;
    font-weight: 600;
    font-size: 2.5vw;
    margin-top: 15px;
}
.main-join-now p {
    font-size: 1.65vw;
}
.join-authors{
    display: flex;
    align-items: center;
    margin-left: 3vw;
    margin-top: 2vw;
   
}
.join-authors-text i{
    display: block;
    font-size: 1.3vw;
    margin-left: 10px;
}
.author-img{
    width: 5vw;
}
.author-img img{
    max-width: 100%;
    border-radius: 100%;
}
.main-join-btn{
    border: 2px solid #a5823d;
    background-color: inherit;
    border-radius: 3px;
    padding: 1vw 6vw;
    color: #a5823d;
    margin-top: 6vw;
    margin-left: 2vw;
    font-size: 1.5vw;
}
/*------------main slides-------------------*/
.main-slides{
    margin-top: 3.5vw;
    display: grid;
}
.main-slides h2{
    font-size: 3vw;
    margin-left: 12vw;
    margin-bottom: 3vw;
}
.slides-body{
    display: flex;
    justify-content: space-around;
    align-content:  center;
}
.main-slides p {
    width: 44vw;
    font-size: 1.5vw;
}
.slides-see-btn{
    font-size: 1.5vw;
    font-weight: 500;
    color: #f5f5f5;
    background-color: black;
    border-radius: 3px;
    padding:1.5vw 2vw;
    margin-left: -22vw;
}
.slides{
    margin-top: 2vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2vw;
    overflow: hidden;
}
.slide{
    width: 24.5vw;
}
.slide i{
    font-size: 1.5vw;
}
.slide img{
    max-width: 100%;
}
.slides-stars{
    margin: 2vw 0;
    justify-self: center;
}
.main-slides p {
    justify-self: center;
    font-size: 1.3vw;
    margin-bottom: 2vw;
}
.p_underline{
    color: rgb(101, 99, 99);
    text-decoration: underline;
}
/*-----------------main-ideas-----------------------*/
.main-ideas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 60vw;
    border-top: 1px solid rgb(180, 178, 178) ;
}
.main-ideas-card{
    position: relative;
    display: grid;
    text-align: center;
    align-content: center;
    padding: 1vw;
}
.main-ideas-card::after{
    content: "";
    background: url(/img/violets.jpg);
    opacity: 0.3;
    top: 2vw;
    left: 1vw;
    bottom: 1vw;
    right: 1vw;
    position: absolute;
    z-index: -1;
}
.main-ideas-card h3{
    color: #009697;
    font-weight: 600;
    font-size: 2.2vw;
    margin-bottom: 1.5vw;
}
.main-ideas-card p{
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}
.main-ideas-btn{
    color: #a5823d;
    font-size: 2.4vw;
    background-color: transparent;
    border-bottom: 2px dotted #a5823d;
    width: 12vw;
    justify-self: center;
    padding-bottom: .4vw;
}

.main-ideas__tips{
    border-left: 1px solid rgb(180, 178, 178) ;
}
.main-ideas__tips h4{
    font-size: 1.9vw;
    font-weight: 600;
    padding:1.5vw 0;
    padding-left: 1vw;
}
.tips_card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 3vw;
}
.tips-card_info{
    padding-left: 2vw;
    padding-bottom: 1vw;
}
.tips-card_info p{
    font-size: 1.3vw;
}
.tips-card_info p:first-child:hover{
    color: #009697;
}
.tips-card_info p:last-child{
    border-top: 1px solid rgb(180, 178, 178) ;
    color: rgb(138, 136, 136) ;
}
.tips_card-img{
    width: 6vw;
    align-self: center;
    justify-self: center;
}
.tips_card-img img{
    max-width: 100%;
    height: 6vw;
    object-fit: contain;
    object-position: center;
}
/*-------------------footer---------------------*/
footer{
    background-color: #f5f5f5;
    padding: 0 6vw;
}
footer .footer_header{
    text-align: center;
    color: #d2d0d0;
    padding: 2vw 0;
    border-bottom: 1px solid #d2d0d0;
}
.footer_body{
    padding: 3vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.3vw;
    border-bottom: 1px solid #d2d0d0;
}
.footer_body li:hover{
    color: #a5823d;
}
.footer_body ul:nth-child(1) li{
    padding-bottom: 0.3vw;
}
.footer_body ul:nth-child(2) li{
    padding-bottom: 1.4vw;
}
.footer_body ul:nth-child(3) li{
    padding-bottom: 2vw;
}
footer ul .footer_list_header{
    color: #009697;
    font-weight: 600;
}
footer ul .footer_list_header:hover{
    color: #009697;
}
.footer_bottom{
    padding: 3vw 0;
}
.footer_bottom ul{
    display: flex;
    gap: 2.5vw;
}
.footer_bottom li{
    color: #d2d0d0;
    font-size: 1.3vw;
}