
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body{
    font-family: serif;
    font-size: 14px;
}
ul{
    list-style: none;
   
}
a{
    text-decoration: none;
    color: black;
    
}
.container{
    min-height: 100%;
    display: grid;
    box-sizing: border-box;
}
/* header */
.header_container{
    background-color: #f5f5f5;
    padding: 15px 40px;
}
.nav_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.nav_container ul{
    display: flex;
}
.left{
    display: grid;
    grid-template-columns: minmax(50px, 120px) minmax(150px,500px);
    align-items: baseline;
}
.left ul {
    margin-left: 3vw;
}
.left li{
    padding-right: 10px;
    font-size: 1vw;
}
.right{
    display: flex;
    justify-content: end;
    align-items: baseline;
}
.right a{
    padding-left: 20px;
    font-size: 1vw;
}
.nav-logo{
    color: #7293aa;
    font-size: 2vw;
}
.right .nav-number{
    color: #7293aa;
    font-size: 2vw;
}


.header-body{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr;
    justify-items: end;
    justify-content: center;
    column-gap: 100px;
    padding: 30px 0;
}
.header-body__image{
    width: 30vw;
}
.header-body__image img{
    max-width: 100%;
}
.info h2{
    color: #009697;
    font-size: 3.3vw;
    font-weight: 300;
}
.info p{
    font-size: 1.5vw;
    margin:20px 0;
}
.info .h2_underline{
    border-bottom: 2px solid #009697;
}
.h2_underline{
    border-bottom: 2px solid black;
}
.info-search{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 1vw;
    height: 5vh;
}
.info-search input{
    border: 2px lightgrey solid;
    border-radius: 5px;
}
.info-search input::placeholder{
    padding-left: 10px;
}
.info-search button{
    border: none;
    background-color: #009697;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
}
.info h4{
    display: inline-block;
    color: #a5823d;
    border-bottom: 3px solid #a5823d;
    margin-top: 2vw;
    font-size: 1.2vw;
}
.header-tranding{
    padding: 0 30px;
}
.header-tranding h5{
    color: #e7a729;
}
.tranding-things{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
.tranding-thing{
    width: 7vw;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.tranding-thing img{
    max-width: 100%;
    height: 7vw;
    object-fit: contain;
}
.tranding-thing h6{
    margin-top: 10px;
    font-size: 0.8vw;
    font-weight: 500;
}

/* main info */
.main-info{
   padding: 20px 13vw;
}
.main-info_header{
    display: grid;
    justify-items: center;
}
.main-info_header h3{
    font-size: 3vw;
}
.main-info_header p {
    margin-top: 10px;
    width: 40vw;
    font-size: 1.5vw;
}
.main-info_cards{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vw;
}
.main-info_card{
    display: grid;
    justify-items: center;
}
.main-info_card p {
    font-size: 1.5vw;
    margin-top: 5px;
}
.main-info_card h4{
    justify-self: left;
    margin-top: 5px;
}
.card-img{
    width: 25vw;
    display: flex;
}
.card-img p {
    font-size: 1vw;
    align-self: flex-end;
   
}
.card-img img{
    max-width:80%;
}